@import "tailwindcss";
/* Import Google Fonts Inter */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  /* Colors */
  --color-primary: #FD7E14;
  --color-alert: #FFC107;

  /* Typography scale */
  --font-family-roboto: 'Roboto', sans-serif;

  /* Display */
  --display-large-size: 57px;
  --display-large-line: 64px;
  --display-large-tracking: -0.25px;

  --display-medium-size: 45px;
  --display-medium-line: 52px;
  --display-medium-tracking: 0px;

  --display-small-size: 36px;
  --display-small-line: 44px;
  --display-small-tracking: 0px;

  /* Headline */
  --headline-large-size: 32px;
  --headline-large-line: 40px;
  --headline-large-tracking: 0px;

  --headline-medium-size: 28px;
  --headline-medium-line: 36px;
  --headline-medium-tracking: 0px;

  --headline-small-size: 24px;
  --headline-small-line: 32px;
  --headline-small-tracking: 0px;

  /* Title */
  --title-large-size: 22px;
  --title-large-line: 28px;
  --title-large-tracking: 0px;

  --title-medium-size: 16px;
  --title-medium-line: 24px;
  --title-medium-tracking: 0.15px;

  --title-small-size: 14px;
  --title-small-line: 20px;
  --title-small-tracking: 0.1px;

  /* Label */
  --label-large-size: 14px;
  --label-large-line: 20px;
  --label-large-tracking: 0.1px;

  --label-medium-size: 12px;
  --label-medium-line: 16px;
  --label-medium-tracking: 0.5px;

  --label-small-size: 11px;
  --label-small-line: 16px;
  --label-small-tracking: 0.5px;

  /* Body */
  --body-large-size: 16px;
  --body-large-line: 24px;
  --body-large-tracking: 0.5px;

  --body-medium-size: 14px;
  --body-medium-line: 20px;
  --body-medium-tracking: 0.25px;

  --body-small-size: 12px;
  --body-small-line: 16px;
  --body-small-tracking: 0.4px;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

/* ================================
   Typography Classes
   ================================ */

.display-large {
  font-family: var(--font-family-roboto);
  font-size: var(--display-large-size);
  line-height: var(--display-large-line);
  letter-spacing: var(--display-large-tracking);
  font-weight: 400;
}

.display-medium {
  font-family: var(--font-family-roboto);
  font-size: var(--display-medium-size);
  line-height: var(--display-medium-line);
  letter-spacing: var(--display-medium-tracking);
  font-weight: 400;
}

.display-small {
  font-family: var(--font-family-roboto);
  font-size: var(--display-small-size);
  line-height: var(--display-small-line);
  letter-spacing: var(--display-small-tracking);
  font-weight: 400;
}

.headline-large {
  font-family: var(--font-family-roboto);
  font-size: var(--headline-large-size);
  line-height: var(--headline-large-line);
  letter-spacing: var(--headline-large-tracking);
  font-weight: 400;
}

.headline-medium {
  font-family: var(--font-family-roboto);
  font-size: var(--headline-medium-size);
  line-height: var(--headline-medium-line);
  letter-spacing: var(--headline-medium-tracking);
  font-weight: 400;
}

.headline-small {
  font-family: var(--font-family-roboto);
  font-size: var(--headline-small-size);
  line-height: var(--headline-small-line);
  letter-spacing: var(--headline-small-tracking);
  font-weight: 400;
}

.title-large {
  font-family: var(--font-family-roboto);
  font-size: var(--title-large-size);
  line-height: var(--title-large-line);
  letter-spacing: var(--title-large-tracking);
  font-weight: 400; /* Regular */
}

.title-medium {
  font-family: var(--font-family-roboto);
  font-size: var(--title-medium-size);
  line-height: var(--title-medium-line);
  letter-spacing: var(--title-medium-tracking);
  font-weight: 500; /* Medium */
}

.title-small {
  font-family: var(--font-family-roboto);
  font-size: var(--title-small-size);
  line-height: var(--title-small-line);
  letter-spacing: var(--title-small-tracking);
  font-weight: 500; /* Medium */
}

.label-large {
  font-family: var(--font-family-roboto);
  font-size: var(--label-large-size);
  line-height: var(--label-large-line);
  letter-spacing: var(--label-large-tracking);
  font-weight: 500;
}

.label-medium {
  font-family: var(--font-family-roboto);
  font-size: var(--label-medium-size);
  line-height: var(--label-medium-line);
  letter-spacing: var(--label-medium-tracking);
  font-weight: 500;
}

.label-small {
  font-family: var(--font-family-roboto);
  font-size: var(--label-small-size);
  line-height: var(--label-small-line);
  letter-spacing: var(--label-small-tracking);
  font-weight: 500;
}

.body-large {
  font-family: var(--font-family-roboto);
  font-size: var(--body-large-size);
  line-height: var(--body-large-line);
  letter-spacing: var(--body-large-tracking);
  font-weight: 400;
}

.body-medium {
  font-family: var(--font-family-roboto);
  font-size: var(--body-medium-size);
  line-height: var(--body-medium-line);
  letter-spacing: var(--body-medium-tracking);
  font-weight: 400;
}

.body-small {
  font-family: var(--font-family-roboto);
  font-size: var(--body-small-size);
  line-height: var(--body-small-line);
  letter-spacing: var(--body-small-tracking);
  font-weight: 400;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
