.env
.rest
tmp
serviceAccountKey.json
menu_prompt.txt
menu_promptj.txt
worker.go
web_socket.go
ai_parsed_handler.go
qr.go
qrser.go
modern-company-logo-design-vector.jpg
email.go
qr_generator_services.go
.gitignore
